# HW8 (20')

<font size='4'>

For this assignment, it is a combination of jupyter notebook assignment and python scripts.

For Q1, please upload your outputs including codes and graphics to your own GitHub repository. <br> You will need to disclose your GitHub repository below.

For Q2, please submit this jupyter notebook as an HTML or PDF file.

First of all, print your name (First and Last) below.

In [1]:
print("Isaac Huntington")

Isaac Huntington

## 0. Import relevant packages

In [20]:
import os
import numpy as np
import pandas as pd
import scipy.stats as stats
import statsmodels.formula.api as smf

## Q1. Convert your HW7 to python scripts. (10')

<font size='4'>

- Under your working directory, there should be a folder called `self_py_fun`.
- Create a new python file called `HW8Fun.py` and move previously defined functions `produce_trun_mean_cov()`, `plot_trunc_mean()`, and `plot_trunc_cov()` to that file. Make sure you import proper packages.
- Create another main file `HW8_main.py`.
- Import relevant packages, modules, and/or function.
- Copy the global variables and call your functions inside `HW8_main.py`.
- A major difference compared to HW7 is that you are asked to save those figures to your local working environment.
    - Create a new directory `K114` under your current working directory.
    - For mean functions, please save it as a `Mean.png` output using `plt.savefig()` function.
    - The changes should be made within `HW8Fun.py` rather than `HW8_main.py`.
    - For covariance matrices, please save them as `Covariance_Target.png`, `Covariance_Non-Target.png`, and `Covariance_All.png` outputs using the same function above.
    - To summarize, there should be **four** figures under `K114` folder.
- Upload your entire work to your GitHub repository via push button.

In [90]:
# Provide your GitHub repository link below in the Markdown chunk. Remember to make it public and make the link clickable.
# Do not include sensitive information in your GitHub repository.

## Q2. A real-world data anlaysis using `Pandas` and `Scipy` (10')

<font size='4'>

- Back to the `PTSD dataset.xlsx`, let's import the dataset and name it `ptsd_df`. (no point since everyone has done it a couple of times before.)

In [7]:
# Write your own code
ptsd_df=pd.read_excel('/Users/isaachuntington/Documents/GitHub/BIOS-584/data/PTSD dataset.xlsx', sheet_name="main_dataset")
ptsd_df

,record_id,ptsdpresent_caps,caps_minuspcl,caps_minuspcl_code,caps_intake,pcl5_score_intake,pcl5month_score.baseline,pcl5week_score.completion,pcl5month_score.3_month_follow_up,mdd_code,...,state_code,va_benefits_indicator,wwp_alumni_indicator,army,airforce,marines,navy,coastguard,nationalguard,reserve
0,460,1,-56,1,15,71,75.0,40.0,NaN,0,...,TX,Yes,No,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5942,1,-49,1,23,72,NaN,52.0,29.0,0,...,GA,Yes,No,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,5366,1,-48,1,31,79,62.0,23.0,NaN,1,...,GA,N,N,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3480,1,-47,1,31,78,76.0,72.0,NaN,0,...,GA,Yes,Yes,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1029,1,-46,1,28,74,52.0,29.0,36.0,0,...,GA,Yes,No,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,1922,1,13,3,44,31,34.0,25.0,27.0,1,...,NJ,No,No,0.0,1.0,0.0,0.0,0.0,0.0,0.0
479,2427,1,21,3,42,21,45.0,13.0,16.0,0,...,OK,No,No,0.0,1.0,0.0,0.0,0.0,0.0,0.0
480,179,1,21,3,38,17,17.0,NaN,NaN,1,...,GA,Yes,No,0.0,0.0,1.0,0.0,0.0,0.0,0.0
481,3533,1,24,3,38,14,35.0,25.0,15.0,0,...,CA,Yes,Yes,1.0,0.0,0.0,0.0,0.0,0.0,1.0
482,3021,1,30,3,42,12,66.0,74.0,11.0,1,...,NC,Yes,Yes,1.0,0.0,0.0,0.0,0.0,0.0,0.0

### Q2.1. Univariate comparison (3')

<font size='4'> 
    
- Suppose that we would like to examine the utility/effect of an intervention program for patients with PTSD.
- We measure PCL5 scores at completion (`pcl5week_score.completion`) and PCL5 score at 3-month follow-up (`pcl5month_score.3_month_follow_up`). Let's assume the first score is pre-intervention and the second score is post-intervention.
- Report the summary statistics for each variable including mean, std, median, Q1, and Q3.
- Note that each patient will receive such two PCL5 scores. Use a appropriate statistical test to perform the univariate comparison. Report the outputing statistic and p-value.
- Before you run the statistic test, determine the data type and check the missingness of two columns. In particular, report the number of NA values for each variable.

In [12]:
# Write your own code
print(ptsd_df[['pcl5week_score.completion','pcl5month_score.3_month_follow_up']].dtypes)
print(ptsd_df[['pcl5week_score.completion','pcl5month_score.3_month_follow_up']].isna().sum())

pcl5week_score.completion            float64
pcl5month_score.3_month_follow_up    float64
dtype: object
pcl5week_score.completion             27
pcl5month_score.3_month_follow_up    251
dtype: int64

In [18]:
sum_stats=ptsd_df[['pcl5week_score.completion','pcl5month_score.3_month_follow_up']].describe(percentiles=[0.25,0.5,0.75]).T
sum_stats1=sum_stats[['mean','std','50%','25%','75%']]
print(sum_stats1)

                                        mean        std   50%   25%    75%
pcl5week_score.completion          29.438596  19.373840  25.0  15.0  42.00
pcl5month_score.3_month_follow_up  31.719828  18.812908  29.5  16.0  44.25

In [23]:
from scipy.stats import shapiro

s_comp=shapiro(ptsd_df['pcl5week_score.completion'].dropna())
s_fu=shapiro(ptsd_df['pcl5month_score.3_month_follow_up'].dropna())

print(s_comp)
print(s_fu)

ShapiroResult(statistic=np.float64(0.9486813885409335), pvalue=np.float64(1.7887572992943358e-11))
ShapiroResult(statistic=np.float64(0.9686055429423311), pvalue=np.float64(5.227184296329524e-05))

In [35]:
#not normally distributed, use Wilcoxon
from scipy.stats import wilcoxon
data1=ptsd_df[['pcl5week_score.completion','pcl5month_score.3_month_follow_up']].dropna()
wilc_comp=data1['pcl5week_score.completion']
wilc_fu=data1['pcl5month_score.3_month_follow_up']
stat, p_value = wilcoxon(wilc_comp,wilc_fu)
print(f"statistic={stat}, pvalue={p_value}")

statistic=7509.0, pvalue=1.341123042854015e-06

### Q2.2. Multiple Linear Regression (7')

<font size='4'>

- Select columns specified in the following code chunk and create a subset dataset named `ptsd_sub_df`.
- Fit a linear regression to examine the association between `caps_intake` (continuous outcome) and the remaining covariates (as predictors) using `ptsd_sub_df`.
    - Note that all covariates ending with `_code` are categorical variables.
- Use the instruction here to write the formula for linear regression in Python.
    - https://www.statsmodels.org/stable/example_formulas.html
- Report the output page including R2, adjusted R2, and parameter estimates, SE, 95% confidence intervals, and p-values.
- Provide a brief interpretation for all significant predictors (p<0.05) excluding the intercept.
- Relevant label information includes:
    - `employment_code`: 1: Employed, 2: Unemployed, 3: Retired, 4: Disabled/Unable to work, 5: Student, 6: Other.
    - `rank_code`: 1. Enlisted, 2: Officer, 3: Other

In [37]:
# The following column names are used for linear regression.
# Do not delete.
relevant_col_names = ['caps_intake', 'age_iop', 'gender_code', 'sexualorient_code', 'race_code', 'ethnicity_code', 
                      'education_code', 'employment_code',
                      'rank_code', 'branch_code', 'mdd_code', 'ctq_total_score', 'sexual_trauma', 'sud_code']

In [43]:
# Write your own code
ptsd_sub_df=ptsd_df[relevant_col_names].dropna()
ptsd_sub_df.head()
formula='caps_intake~age_iop+C(gender_code)+C(sexualorient_code)+C(race_code)+C(ethnicity_code)+C(education_code)+C(employment_code)+C(rank_code)+C(branch_code)+C(mdd_code)+ctq_total_score+sexual_trauma+C(sud_code)'
mod=smf.ols(formula, data=ptsd_sub_df).fit()
print(mod.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            caps_intake   R-squared:                       0.114
Model:                            OLS   Adj. R-squared:                  0.051
Method:                 Least Squares   F-statistic:                     1.796
Date:                Tue, 04 Nov 2025   Prob (F-statistic):            0.00697
Time:                        14:48:42   Log-Likelihood:                -1569.0
No. Observations:                 448   AIC:                             3200.
Df Residuals:                     417   BIC:                             3327.
Df Model:                          30
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                    39.2629      2.721     14.427      0.000      33.913      44.612
C(gender_code)[T.2]          -1.5582      1.131     -1.378      0.169      -3.781       0.665
C(sexualorient_code)[T.2]     1.8247      1.993      0.915      0.361      -2.094       5.743
C(sexualorient_code)[T.3]     1.8012      2.098      0.859      0.391      -2.323       5.925
C(race_code)[T.2]             0.5325      1.044      0.510      0.610      -1.520       2.585
C(race_code)[T.3]            -3.2892      2.794     -1.177      0.240      -8.780       2.202
C(race_code)[T.4]             3.2360      5.127      0.631      0.528      -6.842      13.314
C(race_code)[T.5]            -2.8901      2.754     -1.049      0.295      -8.305       2.524
C(race_code)[T.6]            -3.5467      1.973     -1.798      0.073      -7.425       0.332
C(ethnicity_code)[T.2]       -2.8840      1.567     -1.840      0.066      -5.965       0.197
C(ethnicity_code)[T.3]       -2.5163      2.285     -1.101      0.271      -7.007       1.975
C(education_code)[T.2]       -1.3596      0.920     -1.478      0.140      -3.168       0.449
C(education_code)[T.3]        4.2987      4.613      0.932      0.352      -4.770      13.367
C(employment_code)[T.2]      -0.2737      1.099     -0.249      0.803      -2.433       1.886
C(employment_code)[T.3]      -0.4364      1.720     -0.254      0.800      -3.817       2.944
C(employment_code)[T.4]       2.7408      1.251      2.191      0.029       0.282       5.200
C(employment_code)[T.5]      -1.6961      1.648     -1.029      0.304      -4.936       1.544
C(employment_code)[T.6]      -2.0150      2.263     -0.890      0.374      -6.463       2.433
C(rank_code)[T.2]            -3.0559      1.332     -2.295      0.022      -5.673      -0.438
C(rank_code)[T.3]            -2.4901      3.775     -0.660      0.510      -9.911       4.931
C(branch_code)[T.2]           0.1795      1.280      0.140      0.889      -2.337       2.696
C(branch_code)[T.3]           0.9760      1.452      0.672      0.502      -1.878       3.830
C(branch_code)[T.4]          -2.2104      1.513     -1.461      0.145      -5.185       0.764
C(branch_code)[T.5]          -0.4553      3.221     -0.141      0.888      -6.787       5.876
C(branch_code)[T.6]           1.7423      2.017      0.864      0.388      -2.223       5.708
C(branch_code)[T.7]          -3.1169      3.891     -0.801      0.424     -10.766       4.532
C(mdd_code)[T.1]              1.3699      0.906      1.513      0.131      -0.410       3.150
C(sud_code)[T.1]             -0.5408      1.281     -0.422      0.673      -3.059       1.977
age_iop                      -0.0390      0.053     -0.733      0.464      -0.144       0.066
ctq_total_score               0.0417      0.020      2.115      0.035       0.003       0.081
sexual_trauma                 1.2598      1.157      1.089      0.277      -1.015       3.535
==============================================================================
Omnibus:                        1.706   Durbin-Watson:                   1.836
Prob(Omnibus):                  0.426   Jarque-Bera (JB):                1.767
Skew:                           0.116   Prob(JB):                        0.413
Kurtosis:                       2.798   Cond. No.                         931.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [52]:
# Write your interpretations below:
results = mod.summary2().tables[1]
sig_results=results[results['P>|t|']<0.05]
print(sig_results)

                             Coef.  Std.Err.          t         P>|t|  \
Intercept                39.262913  2.721488  14.427004  1.464531e-38
C(employment_code)[T.4]   2.740779  1.250930   2.190993  2.900499e-02
C(rank_code)[T.2]        -3.055898  1.331588  -2.294928  2.223315e-02
ctq_total_score           0.041737  0.019735   2.114899  3.503118e-02

                            [0.025     0.975]
Intercept                33.913369  44.612457
C(employment_code)[T.4]   0.281865   5.199693
C(rank_code)[T.2]        -5.673360  -0.438437
ctq_total_score           0.002945   0.080529

We can assume that there is a statisically singificant relationship between caps intake score and disabled/unable to work individuals, officers, andthe ctq total score.